@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: 'InterFont';
  src: url('/fonts/Inter-Black.ttf') format('ttf'),
       url('/fonts/Inter-Bold.ttf') format('ttf'),
       url('/fonts/Inter-ExtraBold.ttf') format('ttf'),
       url('/fonts/Inter-Light.ttf') format('ttf'),
       url('/fonts/Inter-Regular.ttf') format('ttf');

  /* Add additional font properties if needed */
}